<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © SBQC 2025</small>
        </div>
    </div>
</footer>

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
></script>
