<%- include('partials/mainHead', { title: 'Live Data' }) %>

<body>
    <%- include('partials/nav') %>

    <div class="container-fluid pt-5 mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Live ISS Location</h1>
                <p class="text-center">Visualizing the real-time location of the International Space Station.</p>
                <div id="mapDiv" class="text-center mb-3"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div id="iss-info" class="mt-3">
                    <p>Latitude: <span id="lat">...</span></p>
                    <p>Longitude: <span id="lon">...</span></p>
                    <p>MQTT: <span id="mqtt-status" class="mqtt-status disconnected">Disconnected</span></p>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <!-- p5.js and MQTT.js from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>

    <script>
        const mqttConfig = <%- mqttConfig %>;
    </script>
    <script src="/js/Tools.js"></script>
    <script src="/js/live-data.js"></script>
</body>

</html>


